@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'leaflet/dist/leaflet.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 10;
}

.leaflet-popup-content-wrapper {
  background: transparent;
  box-shadow: none;
  padding: 0;
}

.leaflet-popup-content {
  margin: 0;
}

.leaflet-popup-tip {
  background: white;
}